html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

html
{
	line-height:1;
}

ol,ul
{
	list-style:none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

caption,th,td
{
	font-weight:400;
	text-align:left;
	vertical-align:middle;
}

q,blockquote
{
	quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after
{
	content:none;
}

a img
{
	border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{
	display:block;
}

html,body
{
	background-color:#fff;
	color:#0e1824;
	font-family:"Helvetica Neue",helvetica,arial,sans-serif;
	font-size:16px;
	margin:0;
  position:relative;
}

a
{
	-moz-transition-duration:.2s;
	-moz-transition-property:color;
	-o-transition-duration:.2s;
	-o-transition-property:color;
	-webkit-transition-duration:.2s;
	-webkit-transition-property:color;
	color:#d46a6a;
	outline:none;
	text-decoration:none;
	transition-duration:.2s;
	transition-property:color;
}

a:active
{
	outline:none;
}

/*custom*/
.wrap{
  max-width:940px;
  margin:0 auto;
}
#head{
  background: url(../images/beach-back.jpg) 50% 0 no-repeat fixed;
	height:420px;
	width:100%;
  border-bottom:1px solid #444;
}

#logo{
  position:absolute;
  top:50px;
  left:120px;
}
#box,#dot{
  position:absolute;
}
#logo #box{
  top:0;
  left:20px;
}
#logo #box img{
  width:100px;
  height:100px;
}
#logo #dot{
  top:84px;
  left:73px;
  width:5px;
  height:5px;
  opacity:0;
  transition: opacity 500ms;
}
#logo:hover #dot{
  opacity:1;
}
#back{
  height:400px;
  margin-bottom:-120px;
}
#text
{
	padding:40px 0 80px;
	text-align:center;
	overflow: hidden;
}

#text > ul > li
{
	border-top:2px solid #0e1824;
	display:inline;
	margin:0 3%;
	padding-top:17px;
	text-align:left;
  float:left;
	vertical-align:top;
	width:21%;
	zoom:1;
  padding-left:10px;
  text-indent:-10px;
}

#text > ul > li h2
{
	font-size:18px;
	margin-bottom:20px;
}
#text > ul > li li{
  margin-bottom: 10px;
}



